<section data-ng-controller="TimesheetsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Timesheets</h1>
    </div>
    <div class="well well-sm">
        Filter: <input class="form-control" ng-model="timeFilter" />
    </div>
    <div class="list-group">
        <a data-ng-repeat="timesheet in timesheets|filter:timeFilter|orderBy:-start" data-ng-href="#!/timesheets/{{timesheet._id}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{timesheet.start|date}} to {{timesheet.end|date}} - {{timesheet.status}}<span class="pull-right">Hours: {{getTotal(timesheet.daily)}}</span></h4>
            <small class="list-group-item-text">
				Created On
				<span data-ng-bind="timesheet.created | date:'medium'"></span>
				by
				<span data-ng-bind="timesheet.user.displayName"></span>
			</small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!timesheets.$resolved || timesheets.length">
    	No Timesheets yet, why don't you <a href="/#!/timesheets/create">create one</a>?
    </div>
</section>