<section data-ng-controller="CompaniesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{action}} Company</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
				<label class="form-group">Name
					<div class="controls">
						<input type="text" data-ng-model="company.name" class="form-control" placeholder="Name">
					</div>
				</label>
				<div class="form-group">
					<label>Client Location</label>
					<div class="controls">
						<input type="text" data-ng-model="company.address.line1" class="form-control" placeholder="Line 1">
						<input type="text" data-ng-model="company.address.line2" class="form-control" placeholder="Line 2">
						<input type="text" data-ng-model="company.address.city" class="form-control" placeholder="City">
						<input type="text" data-ng-model="company.address.state" class="form-control" placeholder="State">
						<input type="text" data-ng-model="company.address.zip" class="form-control" placeholder="Zip Code">
					</div>
				</div>
				<label class="form-group">Email
					<div class="controls">
						<input type="text" data-ng-model="company.email" class="form-control" placeholder="Email">
					</div>
				</label>
				<label class="form-group">Phone
					<div class="controls">
						<input type="text" data-ng-model="company.phone" class="form-control" placeholder="Phone">
					</div>
				</label>
				<div class="form-group">Logo
					<div class="controls">
						<div class="btn btn-primary" ng-file-select="onFileSelect($files)" >Select New Logo</div>
						<!--input type="text" data-ng-model="company.logoUrl" class="form-control" placeholder="Logo Url"-->

						<img ng-src="data:{{company.logo.mime}};base64,{{company.logo.data}}">
						{{company.file.name}}<span class="text-danger error">{{fileError}}</span>
						<div ng-if="company.file.name" ng-click="uploadLogo()" class="btn btn-primary">Upload</div>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>